if hexo-config('css_prefix')
  @import 'nib'

@import '_third-party/normalize.min.css'
// project
@import 'var'
@import '_global/*'
@import '_highlight/highlight'
@import '_page/*'
@import '_layout/*'
@import '_layout/_sticky-toc'
@import '_layout/_toc-sticky-fix'
@import '_tags/*'
@import '_mode/*'

// search
@import '_search/index'
